{{#light-table table as |t|}}
  {{paper-input label="Filter" value=query onChange=(action (pipe (action (mut query))
    (action 'onSearchChange')))}}
  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconSortable='fa fa-sort'
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body canSelect=false rowComponent=(component 'name-linked-row') as |body|}}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}
{{/light-table}}