{{#each columns as |column|}}
  {{#if (eq column.label "Name")}}
    {{component "light-table-custom-cell" column row
                table=table
                rawValue=(get row column.valuePath)
                tableActions=tableActions
                extra=extra
                linktoRoute="patrons.patron"
                linktoData=row.id
    }}
  {{else}}
    {{#if (eq column.label "Patron Type")}}
      {{component "light-table-custom-cell" column row
                  table=table
                  rawValue=(get row column.valuePath)
                  tableActions=tableActions
                  extra=extra
                  linktoRoute="patrons.types"
                  linktoData=row.patronType.id
      }}
    {{else}}
      {{component "light-table-custom-cell" column row
                  table=table
                  rawValue=(get row column.valuePath)
                  tableActions=tableActions
                  extra=extra
      }}
    {{/if}}
  {{/if}}


{{/each}}