{{title model.name}}
{{#if showDeleteDialog}}
  {{#paper-dialog class="flex-50" onClose=null
                  clickOutsideToClose=false}}
    <form>
      {{#paper-dialog-content}}
        <h2>Delete {{model.patron.name}}?</h2>
        <span class="flex">This action is <b>irreversible</b>.</span>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action (toggle "showDeleteDialog" this))}}Cancel{{/paper-button}}
        {{#paper-button warn=true onClick=(action (pipe (action "deletePatron" model.patron) (toggle "showDeleteDialog" this)))}}
          Delete
        {{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}

{{#transition-group transitionName="fade"}}
  <div class="layout-row layout-gt-xs-column">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            {{model.patron.name}}
          {{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <div class="layout-row">
          <div class="flex-50">
            {{paper-input label="Name"
                          value=model.patron.name
                          class="full-width"
                          onChange=(action (mut model.patron.name))
                          required=true}}
          </div>
          <div class="flex-50">
            {{#paper-select
              class="full-width"
              required=true
              label="Patron Type"
              options=model.patronTypes
              selected=model.patron.patronType
              onChange=(action (mut model.patron.patronType))
            as |patronType|}}
              {{patronType.friendlyName}}
            {{/paper-select}}
          </div>
        </div>
        <div class="layout-row">
          <div class="flex-50">
            {{paper-input label="Checkout Time Days"
                          class="full-width"
                          value=(readonly model.patron.patronType.checkout_days)
                          disabled=true
                          onChange=null}}
          </div>
          <div class="flex-50">
            {{paper-input label="Checkout Limit"
                          class="full-width"
                          value=(readonly model.patron.patronType.checkout_limit)
                          disabled=true
                          onChange=null}}
          </div>
        </div>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button primary=true onClick=(action "savePatron" model.patron)}}Save{{/paper-button}}
        {{#paper-button warn=true onClick=(action (toggle "showDeleteDialog" this))}}Delete{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
  {{#paper-speed-dial class="fab"
                      animation="scale" direction="up"
                      open=open onToggle=(action (mut open)) as |dial|}}
    {{#dial.trigger}}
      {{#paper-button fab=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/dial.trigger}}

    {{#dial.actions as |actions|}}
      {{#actions.action}}
        {{#paper-button mini=true}}
          {{paper-icon "add"}}
          {{#paper-tooltip position="left"}}
            Add Patron
          {{/paper-tooltip}}
        {{/paper-button}}
      {{/actions.action}}

      {{#actions.action}}
        {{#paper-button mini=true}}
          {{paper-icon "delete"}}
          {{#paper-tooltip position="left"}}
            Delete
          {{/paper-tooltip}}
        {{/paper-button}}
      {{/actions.action}}

    {{/dial.actions}}
  {{/paper-speed-dial}}
{{/transition-group}}