@import 'ember-material-design-datepicker';
@import 'ember-paper';
@import "ember-light-table/ember-light-table";
@import "transitions";

.fab {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
}

.container {
  margin: 0 2vw;
}

.full-width {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

md-toast {
  position: fixed !important;
}
