html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(232, 232, 232, 0.8);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(180, 180, 180, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(231, 231, 231, 0.8);
}
