.fade-enter {
  opacity: 0;
  max-height: 1px;
}

.fade-enter.fade-enter-active {
  max-height: 100%;
  opacity: 1;
  transition: all .75s ease-in-out;
}
.fade-leave {
  max-height: 500px;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  max-height: 1px;
  transition: all .75s ease-in-out;
}

.slide-enter {
  opacity: 0;
  max-height: 1px;

}
