$border-color: #DADADA;

.ember-light-table {
  width: 94vw;
  height: 88vh;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;


  tfoot .lt-column {
    border-top: 1px solid $border-color;
  }

  thead .lt-column {
    border-bottom: 1px solid $border-color;
  }

  .lt-column {
    font-weight: 200;
    font-size: 12px;
    padding: 10px;

    .lt-sort-icon {
      width: 15px;
    }

    &.lt-group-column {
      border: none !important;
      padding-bottom: 10px;
    }

    .lt-column-resizer {
      border-right: 1px dashed #ccc;
      border-left: 1px dashed #ccc;
    }
  }

  .lt-row {
    height: 50px;

    &.is-selected {
      background-color: #DEDEDE;
    }

    &:not(.is-selected):hover {
      background-color: #F5F4F4;
    }

    &.colored-row {
      color: white;

      &:hover {
        opacity: 0.8;
      }
    }

    td {
      border: 0 solid $border-color;
      border-bottom-width: 1px;
      font-size: 13px;
      padding: 0 10px;
    }
  }
}
