{{title "Library Management" separator=" - "}}
{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>
        {{#link-to "index"}}Library Management{{/link-to}}
      </h2>
      {{#paper-button href=(href-to "patrons")}}
        Patrons
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/paper-sidenav-container}}
<div class="container">
  {{outlet}}
  {{paper-toaster}}
</div>