{{title "Patrons" separator=" | "}}
{{title "Browse"}}
<div class="side-bar">
  {{outlet}}
</div>
{{#transition-group transitionName="fade"}}
  {{client-side-table model=model}}
{{/transition-group}}
